nav.SubMenu{background-color:#3C3C3B;width:100%;text-align:center;padding:0;margin-left:auto;margin-right:auto;z-index:500;border-top:1px solid #3C3C3B;border-bottom:1px solid #3C3C3B;position:-webkit-sticky;position:sticky;top:42px}
nav.SubMenu > div{display:table;table-layout:fixed}
nav.SubMenu > div > div{display:table-cell;background-repeat:no-repeat;background-size:24px 24px;background-position:6px center;font-size:1rem;height:40px;color:#FFFFFF;border-left:2px solid #FFFFFF;padding-left:35px;padding-top:12px;text-transform:uppercase;cursor:pointer;width:15%}
nav.SubMenu > div > div:first-child{border-left:0}
nav.SubMenu > div > div:not(.selected):not(.disabled):hover{background-color:#322F2F}
nav.SubMenu > div > div > a{color:#FFFFFF;text-decoration:none}
nav.SubMenu > div > div.selected{background-color:#FFFFFF;color:#3C3C3B}
nav.SubMenu > div > div.selected > a{color:#3C3C3B}
nav.SubMenu > div > div.disabled{color:#777777;cursor:default}
nav.SubMenu > div > div.disabled > a{color:#777777}
nav.SubMenu > div > div.contact{padding-left:0;background-position:center center;width:4%;padding-left:45px}
@media only screen and (max-width:800px){nav.SubMenu > div > div{font-size:0.8rem}
nav.SubMenu > div > div.contact{width:6%}}
@media only screen and (max-width:640px){nav.SubMenu{position:fixed;bottom:0;top:auto;z-index:3000}
nav.SubMenu > div > div{text-transform:none;background-position:center 3px;font-size:0.8rem;text-align:center;padding-top:30px;padding-left:0;height:50px;border-left:1px solid #FFFFFF}
#divFooterSpacer{height:50px}
#cookieChoiceInfo{bottom:52px}}
@media only screen and (max-width:480px){nav.SubMenu > div > div{padding-top:28px;height:40px;height:MAX(40px, CALC(20px + env(safe-area-inset-bottom)));font-size:0.6rem}
nav.SubMenu > div > div.contact{width:10%}
#cookieChoiceInfo{bottom:42px}}
